.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-left {
  padding: 10px 20px;
}

.header-right {
  padding: 10px 20px;
  padding: 10px;
  padding-left: 20px;
}
