.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 30px;
  color: #b5b2a9;
  align-items: center;
}

.navbar-left > .MuiSvgIcon-root {
  margin-left: 25px;
}

.navbar-left .MuiSvgIcon-root:hover:nth-child(3),
.navbar-left .MuiSvgIcon-root:hover:nth-child(4),
.navbar-right .custom-order:hover,
.navbar-right > .MuiSvgIcon-root:hover {
  color: #eeeeee;
  cursor: pointer;
}

.navbar-right {
  display: flex;
  padding-right: 10px;
}

.navbar-right > .custom-order {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.navbar-right > .custom-order > .MuiSvgIcon-root {
  margin-left: 5px;
}

.heart {
  color: #1fdf64;
}
