.playlist {
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.playlist-top {
  background: rgb(34, 56, 147);
  background: linear-gradient(
    90deg,
    rgba(34, 56, 147, 1) 0%,
    rgba(33, 55, 141, 1) 35%,
    rgb(28, 47, 125) 100%
  );
}

::-webkit-scrollbar {
  display: none;
}
